<p>material-component works!</p>
<mat-card class="p-10 flex flex-col gap-5">
    <mat-card-header>
        <div class="flex justify-between item-center w-full">
            <span>Insights</span>
            <div class="flex">
                <button matIconButton class="h-8 w-8">
                    <mat-icon class="material-symbols-outlined f-s-20">thumb_up</mat-icon>
                </button>
                <button matIconButton class="h-8 w-8">
                    <mat-icon class="material-symbols-outlined f-s-20">thumb_down</mat-icon>
                </button>
                <button matButton class="flex gap-3 header-action-btn">
                    <mat-icon>toll</mat-icon>
                    <span>Ask Maggi</span>
                </button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis odit consectetur culpa itaque dolor laudantium obcaecati eos id expedita ipsa iusto aliquam deleniti fugiat eum, vitae alias pariatur ipsam esse.
    </mat-card-content>
</mat-card>