.main{
    .privacy-right-section{
        max-width: 700px;

        .privacy-section-title{
            color: var(--color-primary-grey);
        }
        .privacy-section-subTitle{
            color: var(--color-second-grey);
        }
    
        .learn-more-btn{
            color: var(--color-white);
            background-color: var(--color-primary-green);
            border: none;
            width: fit-content;
        }
    }
}

.privacy-bottom-section{
    background-color: var(--color-primary-silver);

    img{
        align-self: flex-start;
    }

    .bottom-title{
        color: var(--color-second-grey);
        max-width: 600px;
    }

    .bottom-heading{
        color: var(--color-primary-green);
    }

    .bottom-sub-title{
        color: #89939E;
    }

    .bottom-icons{
        mat-icon{
            height: 48px;
            width: 48px;
        }

        div{
            color: var(--color-primary-green);
        }
    }
}

@media (max-width:1200px){
    .main{
        padding: 50px 80px;
    }

    .privacy-bottom-section{
        padding: 20px 80px;

        p{
            font-size: 12px;
        }
    }
}