<div class="main mt-17 flex justify-center px-41 gap-17">
    <div>
        <img src="/pana.png" alt="privacy-image" width="441" height="433">
    </div>
    <div class="privacy-right-section flex flex-col gap-13">
        <div class="privacy-section-title f-s-36 lh-16 fw-6">The unseen of spending three years at Pixelgrade</div>
        <p class="privacy-section-subTitle m-0 f-s-14 lh-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet justo ipsum. Sed accumsan quam vitae est varius fringilla. Pellentesque placerat vestibulum lorem sed porta. Nullam mattis tristique iaculis. Nullam pulvinar sit amet risus pretium auctor. Etiam quis massa pulvinar, aliquam quam vitae, tempus sem. Donec elementum pulvinar odio.</p>
        <button class="learn-more-btn py-7 px-13 f-s-14 br-2">Learn more</button>
    </div>
</div>

<div class="privacy-bottom-section flex justify-center item-center mt-15 px-41 py-13 gap-24">
    <img src="/image 9.png" alt="" width="326" height="326">
    <div class="flex flex-col gap-8 f-s-16 lh-11">
        <p class="bottom-title m-0">Maecenas dignissim justo eget nulla rutrum molestie. Maecenas lobortis sem dui, vel rutrum risus tincidunt ullamcorper. Proin eu enim metus. Vivamus sed libero ornare, tristique quam in, gravida enim. Nullam ut molestie arcu, at hendrerit elit. Morbi laoreet elit at ligula molestie, nec molestie mi blandit. Suspendisse cursus tellus sed augue ultrices, quis tristique nulla sodales. Suspendisse eget lorem eu turpis vestibulum pretium. Suspendisse potenti. Quisque malesuada enim sapien, vitae placerat ante feugiat eget. Quisque vulputate odio neque, eget efficitur libero condimentum id. Curabitur id nibh id sem dignissim finibus ac sit amet magna.</p>
        <div class="bottom-heading f-s-20 lh-12">Tim Smith</div>
        <p class="bottom-sub-title m-0 f-s-16 lh-11">British Dragon Boat Racing Association</p>
        <div class="bottom-icons mt-8 flex gap-13 item-center">
            @for(icon of footerIcons; track icon){
                <mat-icon class="f-s-48">{{icon}}</mat-icon>
            }
            <div class="f-s-20 lh-12">Meet all customers</div>
        </div>
    </div>
</div>