<!-- Try to make this animation using offset-path and offset-distance -->
<!-- <div class="border-animation-container flex item-center py-12 px-15 mt-42 ml-42 justify-center br-6">
    border animation
</div> -->

<div class="snake-card m-55 h-40 w-55 br-10 flex gap-1 item-center justify-center">
    <span>Snake Border</span>
    <span class="dot-animation mt-5"></span>
    <span class="dot-animation mt-5"></span>
    <span class="dot-animation mt-5"></span>
</div>

<!-- Try to make this animation using take 4 child and give them different animation delay and make them move in a loop -->
<!-- <a href="#" class="border-animation-container">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  Snake Border
</a> -->
