.hero-section{
    background-image: url('../../../../public/Hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 87vw;
    color: var(--color-white);;
    box-sizing: border-box;
    position: relative;
    padding-top: 14vh;

    h1{
        width: 55vw;
        font-family: 'Clash Display';
    }

    p{
        width: 41vw;
    }

    .footer {
        position: absolute;
        bottom: -100px;
        left: 70px;

        .footer-navigation{
            background-color: var(--color-white);
            width:min-content;
    
            .data{
                color: var(--color-yellow-dark);
                background-color: var(--color-yellow-light);
        
                mat-icon{
                    height: 16px;
                    width: 16px;
                }
        
                &:first-child{
                    color: var(--color-primary-red-dark);
                    background-color: var(--color-yellow);
                }
            }
        }
    
        .footer-bottom{
            background-color: var(--color-white);;
            border-top-right-radius: 16px;
            width:min-content;
            max-width: 69vw;
            overflow-x: auto;
            
            .footer-bottom-data{
                color: var(--color-primary-red-dark);
    
                mat-icon{
                    height: 20px;
                    width: 20px;
                }
            }
    
            .search-section{
                color: var(--color-primary-red-dark);
                background-color: var(--color-yellow);
                height: fit-content;
                align-self: flex-end;
    
                mat-icon{
                    height: 18px;
                    width: 18px;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    h1 {
        font-size: 40px;
        line-height: 50px;
    }
}