<nav class="flex item-center">
    <div class="logo f-w-700 m-0 f-s-24">Medical Hardy</div>
    <ul class="flex gap-10 ml-10 f-s-14">
        <li>Home</li>
        <li>Product</li>
        <li>Pricing</li>
        <li>Contact</li>
    </ul>
    <div class="flex gap-15">
        <button class="login-button f-s-14 f-w-700">Login</button>
        <button class="join-button py-7 px-11 flex item-center gap-7 f-s-14 f-w-700">JOIN US
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
</nav>

<main class="flex gap-12 item-center justify-center">
    <div class="main-content flex flex-col gap-12">
        <div class="header-text f-s-16 f-w-700 m-0">Online</div>
        <div class="title m-0 f-w-700">HIGH QUALITY COURSES </div>
        <div class="description m-0 f-s-20">Every day brings with it a fresh set of learning possibilities.</div>
        <div class="flex gap-15">
            <button class="content-quote-button py-7 px-11 f-s-14 f-w-700">Get Quote Now</button>
            <button class="learn-more-button py-7 px-11 f-s-14 f-w-700">Learn More</button>
        </div>
    </div>
    <div class="image-container"><img src="/none.png" alt=""></div>
</main>
