::ng-deep mat-button-toggle-group {
    margin-top: 20px;
    padding: 3px;

    .mat-button-toggle-button{
        color: gray;
        border: 1.5px solid transparent;
        border-radius: 99px;

        .mat-button-toggle-checkbox-wrapper{
            display: none;
        }

    }
    .mat-button-toggle-checked .mat-button-toggle-button:has(.mat-button-toggle-checkbox-wrapper){
        color: rgb(124, 203, 230);
        padding-left: 0;
        border-color: rgb(124, 203, 230);
    }
    
    .mat-button-toggle-appearance-standard{
        border-left: 0px;
         
        &.mat-button-toggle-checked {
            background-color:transparent;
        }

        &.mat-button-toggle-label-content{
            padding: 0;
            line-height: 25px;
        }
    }
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle-appearance-standard {
    border-left: 0px;
}